.bug {
  background-color: lighten($color: #3b9950, $amount: 17%);
  border-color: darken($color: #3b9950, $amount: 20%);
}
.dark {
  background-color: lighten($color: #5a5979, $amount: 17%);
  border-color: darken($color: #5a5979, $amount: 20%);
}
.dragon {
  background-color: lighten($color: #61cad9, $amount: 17%);
  border-color: darken($color: #61cad9, $amount: 20%);
}

.fairy {
  background-color: lighten($color: #ea1369, $amount: 17%);
  border-color: darken($color: #ea1369, $amount: 20%);
}
.fire {
  background-color: lighten($color: #f08030, $amount: 17%);
  border-color: darken($color: #f08030, $amount: 20%);
}
.fighting {
  background-color: lighten($color: #ef6138, $amount: 17%);
  border-color: darken($color: #ef6138, $amount: 20%);
}
.flying {
  background-color: lighten($color: #93b2c7, $amount: 17%);
  border-color: darken($color: #93b2c7, $amount: 20%);
}
.ghost {
  background-color: lighten($color: #27cb4f, $amount: 17%);
  border-color: darken($color: #27cb4f, $amount: 20%);
}
.grass {
  background-color: lighten($color: #7ac74c, $amount: 17%);
  border-color: darken($color: #7ac74c, $amount: 20%);
}
.ground {
  background-color: lighten($color: #6e491f, $amount: 17%);
  border-color: darken($color: #6e491f, $amount: 20%);
}
.ice {
  background-color: lighten($color: #d8f0fa, $amount: 17%);
  border-color: darken($color: #d8f0fa, $amount: 20%);
}
.normal {
  background-color: lighten($color: #a8a878, $amount: 17%);
  border-color: darken($color: #a8a878, $amount: 20%);
}
.poison {
  background-color: lighten($color: #9b69d9, $amount: 17%);
  border-color: darken($color: #9b69d9, $amount: 20%);
}
.psychic {
  background-color: lighten($color: #f81c91, $amount: 17%);
  border-color: darken($color: #f81c91, $amount: 20%);
}
.rock {
  background-color: lighten($color: #8b3e21, $amount: 17%);
  border-color: darken($color: #8b3e21, $amount: 20%);
}
.steel {
  background-color: lighten($color: #42bd94, $amount: 17%);
  border-color: darken($color: #42bd94, $amount: 20%);
}
.water {
  background-color: lighten($color: #86a8fc, $amount: 17%);
  border-color: darken($color: #86a8fc, $amount: 20%);
}

.electric {
  background-color: lighten($color: #fbfb72, $amount: 17%);
  border-color: darken($color: #fbfb72, $amount: 20%);
}
